body{
	margin-top:75px;
   margin-left:10px;
   margin-right:10px;
   background: url(../img/footpath.jpg);
}
.title{
	text-align:center;
}
#mapka{
	height: 80%;
        margin: 0px;
        padding: 0px
}