body{
	margin-top:75px;
   margin-left:10px;
   margin-right:10px;
   background: url(../img/footpath.jpg);
}
.title{
	text-align:center;
}
#mapka{
	height: 85%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
}
.buton{
	margin: 0 auto;
    text-align: center;
}